<a href="https://colab.research.google.com/github/adigup390/deepintocnn/blob/main/kagglesubmissionLogisticRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
import  numpy as np

In [4]:
data = pd.read_csv("/content/sample_data/train.csv")

In [5]:
data.dropna(subset = ["target"], inplace = True)

In [ ]:
testdata.dropna()

In [6]:
data.head()

   id  feature_0  feature_1  ...  feature_73  feature_74   target
0   0          0          0  ...           0           0  Class_6
1   1          0          0  ...           1           0  Class_6
2   2          0          0  ...           0           0  Class_2
3   3          0          0  ...           3           0  Class_8
4   4          1          0  ...           0           0  Class_2

[5 rows x 77 columns]

In [7]:
train, test = train_test_split(data, test_size=0.2)
#training_data = train[:,1:76]
#test_data = test[:,1:76]
train

            id  feature_0  feature_1  ...  feature_73  feature_74   target
187689  187689          4          0  ...           0           1  Class_9
199871  199871          2          0  ...           2           0  Class_8
5917      5917          0          0  ...           0           0  Class_1
188617  188617          0          0  ...           0           1  Class_8
170971  170971          0          0  ...           0           0  Class_2
...        ...        ...        ...  ...         ...         ...      ...
145653  145653          0          0  ...           0           0  Class_4
22696    22696          0          0  ...           0           0  Class_2
14604    14604          0          0  ...           0           0  Class_9
92600    92600          0          0  ...           0           0  Class_8
39464    39464          0          0  ...           0           0  Class_5

[160000 rows x 77 columns]

In [8]:
label = {"Class_1":0, "Class_2":1, "Class_3":2,"Class_4":3,"Class_5":4,"Class_6":5,"Class_7":6,"Class_8":7,"Class_9":8}

In [9]:
#data.Gender = [gender[item] for item in data.Gender]
train.target = train["target"].map(label)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [10]:
test.target = test["target"].map(label)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [11]:
test.head()

            id  feature_0  feature_1  ...  feature_73  feature_74  target
158805  158805          0          0  ...           0           1       3
144695  144695          0          0  ...           0           0       1
19047    19047          1          0  ...           0           0       2
110909  110909          0          0  ...           0           0       6
17166    17166         30          1  ...           0           0       7

[5 rows x 77 columns]

In [12]:
train = train.to_numpy()
test = test.to_numpy()

In [13]:
train

array([[187689,      4,      0, ...,      0,      1,      8],
       [199871,      2,      0, ...,      2,      0,      7],
       [  5917,      0,      0, ...,      0,      0,      0],
       ...,
       [ 14604,      0,      0, ...,      0,      0,      8],
       [ 92600,      0,      0, ...,      0,      0,      7],
       [ 39464,      0,      0, ...,      0,      0,      4]])

In [14]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
# fit scaler on data
#scaler.fit(train[:,1:76])
# apply transform
train1 = scaler.fit_transform(train)

scaler = StandardScaler()
# fit scaler on data
scaler.fit(test)
# apply transform
test1 = scaler.transform(test)

In [15]:
train[0]

array([187689,      4,      0,      0,      0,      0,      1,      0,
            0,      3,      0,     11,      1,      0,      0,      0,
            0,      1,      1,      0,      0,      1,      0,      0,
            0,      0,      0,      0,      0,      0,      0,      0,
            0,      0,      0,      0,      0,      0,      0,      0,
            0,      0,      0,      1,      0,      0,      0,      0,
            0,      0,      0,      0,      0,      0,      0,      0,
            0,      0,      2,      0,      0,      0,      1,      1,
            0,      3,      0,      0,      0,      4,      1,      0,
            0,      0,      0,      1,      8])

In [16]:
training_data = np.concatenate((train1[:,1:76],train[:,[76]]),axis = 1)

In [17]:
test_data = np.concatenate((test1[:,1:76],test[:,[76]]),axis = 1)

In [18]:
test_data.shape

(40000, 76)

In [19]:

np.unique(training_data[:,75])

array([0., 1., 2., 3., 4., 5., 6., 7., 8.])

In [20]:
import torch

In [21]:
from torchvision import transforms

In [22]:
from torch.utils.data import Dataset
import numpy as np

In [23]:
training_data = torch.tensor(training_data.astype(float))

In [24]:
test_data = torch.tensor(test_data.astype(float))

In [25]:
class my_data(Dataset):
  def __init__(self,training_data,transform = None,target_transform = None):
    self.data = training_data
    self.transform = transform;
    self.target_transform = target_transform;

  def __len__(self):
    return self.data.shape[0];

  def __getitem__(self,idx):
    train = self.data[idx,0:75]
    label = self.data[idx,75]
    if self.transform:
      train = self.transform(train)

    if self.target_transform:
      label = self.target_transform(label)
      
    return train, label

In [26]:
trainset = my_data(training_data,transform=None,target_transform = None)
#testset = my_data(test_data,test_label,transform = transform)

In [27]:
trainloader = torch.utils.data.DataLoader(trainset,batch_size = 100,shuffle = True)
#testloader = torch.utils.data.DataLoader(trainset,batch_size = 64,shuffle = True)

In [28]:
from torch import nn
class LogisticRegression(torch.nn.Module):
  def __init__(self,input_dim,output_dim):
    super(LogisticRegression, self).__init__()
    self.linear = torch.nn.Linear(input_dim, output_dim)
  
  def forward(self,x):
    outputs = self.linear(x)
    return outputs

In [29]:
n_iters = 3000
epochs = n_iters
input_dim = 75
output_dim = 9
lr_rate = 0.01

In [30]:
model = LogisticRegression(input_dim, output_dim)

In [31]:
feature, label = next(iter(trainloader))
output = model(feature.float())
out = torch.argmax(output, dim = 1)
print(output)

tensor([[-2.6966e-02,  7.9839e-02,  2.6660e-01,  5.2598e-02,  4.2649e-01,
          3.0514e-01, -1.3754e-01, -7.0472e-02,  4.7940e-03],
        [-4.2054e-02,  6.7245e-02,  5.1552e-01, -2.8234e-01,  5.5042e-01,
         -6.8055e-02,  1.7141e-01, -3.7597e-01, -1.9657e-01],
        [ 1.8818e-01, -1.0452e+00, -1.9805e-01,  8.6868e-01,  4.4169e-01,
          7.4759e-01,  1.3617e+00,  3.7649e-01, -2.6011e-01],
        [ 1.3955e-01,  3.1620e-01,  1.4654e-01, -5.0588e-02,  9.6288e-02,
         -2.1856e-01,  1.8532e-01, -5.8236e-01,  1.4197e-01],
        [-1.9936e-01, -5.9959e-01, -3.1310e-01, -5.8605e-02, -2.4910e-03,
         -4.3353e-01,  3.3796e-01, -3.6013e-01,  9.9604e-02],
        [ 4.0341e-02,  1.6477e-01,  7.1779e-02, -2.8288e-01,  1.5694e-01,
          5.4652e-02,  3.8469e-01,  7.5595e-04, -2.1546e-01],
        [ 2.1574e-01,  8.6341e-02, -3.6458e-03,  7.0975e-02,  1.2385e-01,
          1.9951e-01,  2.9856e-01,  1.2737e-01,  5.7494e-02],
        [-7.9598e-02, -2.1070e-01,  1.1013e-01, -1.2896e-01,  3.6164e-01,
          3.8364e-01,  4.1881e-01, -2.6582e-01, -6.1706e-02],
        [ 7.5866e-02,  1.2533e-01,  2.4721e-01, -2.2153e-01,  2.5304e-01,
          2.1405e-01,  2.8873e-01, -2.7798e-01, -3.3677e-02],
        [-1.6092e-01,  3.3081e-01, -9.7170e-01, -1.1457e-01, -5.9500e-01,
         -1.5427e+00,  1.1435e+00,  4.4019e-01, -7.6844e-01],
        [-6.1965e-02,  2.3257e-01,  2.4745e-01,  2.8430e-01,  3.3647e-01,
         -2.9973e-01, -1.2806e-01, -4.2950e-03, -9.1021e-02],
        [ 1.5853e-01,  4.0526e-01,  2.8508e-01, -4.5114e-01,  1.1758e-01,
         -5.5473e-02, -8.7145e-02, -2.2456e-01,  3.1295e-02],
        [-2.5749e-01, -4.8766e-02, -4.8271e-01, -3.3829e-01,  3.4829e-01,
         -3.8633e-01,  6.9461e-02, -1.9387e-01, -1.8188e-01],
        [-1.1702e-01, -7.8684e-01, -1.3041e+00,  9.0397e-01, -1.0528e-01,
          1.8076e+00, -2.3824e-01,  1.9305e+00,  2.7676e-01],
        [-4.0590e-02, -7.7526e-01,  1.8569e-01,  4.3575e-01,  3.3882e-01,
          4.5355e-01,  8.9578e-01, -6.3322e-01, -1.6009e+00],
        [ 2.3657e-02,  1.2928e-01,  9.8739e-02, -3.2196e-01,  2.0796e-01,
          5.2904e-03,  3.7139e-01, -2.8896e-01, -2.1127e-01],
        [-1.6586e+00, -1.0619e+00, -1.3741e+00, -1.1614e-01, -1.6733e+00,
         -5.2365e-01, -8.5623e-01, -1.8783e+00, -1.0615e+00],
        [ 3.1048e-01, -1.5409e-02, -2.3540e-01,  5.5678e-02,  1.0557e-01,
         -1.5115e-01,  8.3437e-02,  1.7331e-01,  6.5185e-01],
        [-6.1948e-01,  8.1107e-02,  1.9925e+00,  1.4412e+00, -1.4342e-01,
         -5.6653e-02, -3.5472e-01,  1.6631e+00, -1.0804e-01],
        [ 7.0918e-02, -3.7383e-01, -8.8446e-01, -1.4280e+00, -1.2626e+00,
         -1.4714e+00, -1.6675e+00,  7.2763e-01,  1.2930e+00],
        [ 1.3047e-01, -8.0199e-03,  3.3784e-01, -3.4393e-01,  3.8489e-01,
          8.5777e-02,  6.0539e-01, -8.0637e-02, -2.5168e-01],
        [-3.1612e-01, -1.4371e-01,  3.2181e-01, -2.7062e-01, -2.9512e-02,
         -3.9999e-01,  5.8839e-01, -7.7819e-01, -1.0350e+00],
        [-1.1003e+00, -5.9948e-01, -2.8885e-01, -4.8891e-01, -5.1792e-01,
          7.4250e-01, -1.9882e-01, -1.3091e+00, -1.5397e+00],
        [ 5.3628e-02, -3.0661e-01,  3.0874e-01, -7.0365e-02,  8.5991e-01,
          6.0310e-01,  1.0114e+00, -7.2298e-01,  3.2292e-02],
        [ 1.0046e-01,  1.2192e-01,  5.4266e-02, -5.5357e-01,  3.1254e-01,
          2.1588e-01,  1.9400e-01, -6.8761e-01, -1.1126e-02],
        [ 8.3660e-02,  6.3263e-02,  1.4063e-01, -1.4192e-01,  3.3788e-01,
          9.7971e-03,  5.0282e-01, -8.3130e-01, -2.3209e-02],
        [-2.5570e-01,  2.1186e-01, -6.2875e-02, -1.6952e-01, -6.7894e-02,
          1.1852e-01,  2.1686e-01, -1.8880e-01, -3.1055e-01],
        [ 2.7267e-01,  3.7476e-02,  3.0332e-01, -3.1827e-01,  3.8629e-01,
         -1.0455e-01,  5.3276e-01, -4.1219e-01, -4.7521e-02],
        [ 4.6840e-01,  6.1069e-02,  3.1285e-01,  3.8057e-01, -3.1607e-02,
         -4.8101e-01,  1.7726e-01, -4.3943e-01, -1.5475e-01],
        [-3.1416e-01, -1.4962e-01, -2.6422e-01,  9.2706e-03,  1.0100e-01,
         -2.4864e-01, -4.6777e-02, -2.1247e-01, -9.7160e-02],
        [ 7.4554e-01, -2.0504e+00,  2.3854e-01, -2.6017e-01,  1.8496e+00,
         -3.6506e+00, -7.3880e-01, -1.8392e+00,  1.3858e+00],
        [-5.2341e-01,  4.5222e-01, -1.0801e+00,  5.1037e-01, -1.1514e+00,
         -7.2891e-01,  1.5148e+00,  1.5503e+00,  1.1930e-01],
        [ 1.7489e-01,  5.7223e-03,  2.4291e-01, -9.7214e-02,  3.6695e-01,
         -2.1319e-01,  2.3448e-01, -2.0995e-01, -5.4339e-02],
        [ 4.5424e-02, -3.0727e-02,  4.9986e-01,  8.5205e-02,  2.8530e-01,
          2.7805e-01,  3.5906e-01, -1.9912e-01, -2.0342e-01],
        [-4.3417e-03,  1.5753e-01, -6.1867e-02, -3.2183e-01,  5.6617e-02,
         -1.0304e-01,  3.4515e-01, -3.2216e-01, -2.9622e-01],
        [ 2.2505e-01, -1.9093e-01, -5.3605e-01,  1.0065e+00,  7.3179e-02,
          7.4301e-01, -1.0020e+00, -9.2079e-01, -4.0600e-02],
        [-1.7896e-01, -3.5847e-03,  7.1461e-02, -2.0841e-01,  2.6723e-02,
          1.9323e-01,  4.0998e-01, -7.0026e-01, -3.4107e-01],
        [-7.0334e-01, -2.6790e-01,  2.5719e-01,  1.7644e-01, -6.3877e-02,
         -5.9465e-01, -1.5137e-01, -3.8673e-01, -1.6123e-02],
        [ 6.7781e-02,  6.1077e-02,  1.8096e-01,  1.9938e-02,  3.4950e-01,
          5.8511e-02,  2.4682e-01,  1.8228e-01, -2.4451e-01],
        [ 3.0674e-03,  1.6052e-01, -1.7317e-01, -4.0947e-01,  2.4954e-02,
          2.4683e-02,  3.4310e-01, -3.7214e-01, -2.3280e-01],
        [ 6.7167e-01, -3.6930e-01,  7.1139e-01,  4.4467e-01,  1.5503e-01,
          7.6954e-02,  3.0721e-02,  1.8521e-01,  4.3316e-01],
        [-1.6316e+00,  3.4259e-01, -2.3140e-01,  1.5145e+00,  7.2075e-01,
          5.2071e-01, -1.0998e+00,  7.9024e-01,  7.4918e-01],
        [-2.5002e+00, -3.8816e-01, -1.0612e+00,  8.4711e-01, -9.2737e-01,
         -4.7163e-01, -2.1089e+00, -1.2076e+00, -6.0893e-01],
        [ 9.0326e-02, -1.8612e-01, -9.5320e-02,  3.0122e-01, -6.7746e-02,
         -3.4099e-01,  1.2826e-01, -5.7821e-01,  2.3267e-01],
        [ 3.1014e-01, -6.1049e-02, -1.4235e-01, -6.3937e-03,  6.0706e-02,
          3.6840e-02,  5.0907e-01,  6.9145e-02, -1.2297e-01],
        [ 2.5781e+00, -8.2724e-01, -8.7520e-01, -2.0375e-03,  1.8308e+00,
         -5.7631e-01,  1.0976e-01,  4.4010e+00,  4.3736e-01],
        [ 7.1753e-02, -3.8826e-02,  1.1783e+00,  6.9413e-01,  1.7647e-01,
          1.9263e-01, -1.0564e-02,  7.2476e-01, -1.7167e+00],
        [ 3.9096e-01, -4.6697e-01, -3.7347e-01,  5.4249e-01,  2.4073e-01,
         -3.4614e-01, -3.2228e-01,  7.6333e-01, -5.0209e-01],
        [-7.3639e-02,  1.8044e-01,  1.3677e+00,  7.3234e-01, -1.0001e+00,
         -1.9259e-02,  6.7278e-01, -7.5827e-01, -1.5791e+00],
        [-8.5702e-02,  2.8904e-02, -6.1767e-03, -3.2164e-01,  5.9163e-02,
         -1.1923e-01,  5.2771e-01, -3.9624e-01, -4.5895e-01],
        [-4.8702e-01, -1.2298e+00,  2.3298e-01,  1.8938e-02,  3.0457e-01,
          3.0282e-01, -4.9144e-01, -4.0072e-01, -1.7601e-01],
        [-1.2746e+00, -1.7577e-01,  2.9394e-01, -1.1278e+00, -5.8312e-01,
          9.3539e-01,  9.3636e-01, -1.2410e+00,  6.7630e-01],
        [ 2.2655e-01, -2.0632e-01, -2.6857e-02, -2.4912e-01,  5.8097e-02,
         -8.3534e-02,  2.6784e-01,  1.4248e-02, -8.5826e-02],
        [-2.2740e+00,  8.6353e-01, -1.2290e+00,  2.9321e-01, -1.7096e-01,
         -6.6358e-01, -2.6561e+00,  7.2349e-01,  1.5396e+00],
        [ 1.2781e-01,  3.2656e-02, -1.3757e-02, -1.6347e-01,  1.9976e-01,
         -6.4586e-02,  1.8116e-01, -4.0265e-01,  7.4027e-03],
        [-1.7024e-01, -3.0383e-01,  3.5865e-02,  5.9821e-01,  2.6829e-01,
         -2.1067e-01, -1.1154e-01,  9.9440e-02, -3.4571e-01],
        [-3.0713e-02,  2.2624e-01, -3.0415e-01, -2.1575e-01,  1.5951e-01,
          1.6140e-01,  1.4155e-01,  9.1260e-02, -5.3643e-01],
        [ 4.4507e-01,  8.1588e-01, -3.0276e+00,  7.0192e-01, -6.8521e-01,
         -7.9898e-01,  1.0218e+00,  1.7793e+00, -1.2857e+00],
        [ 1.6173e-01, -3.0364e-02, -8.7525e-02, -1.6904e-01,  1.6500e-01,
         -2.5001e-01,  4.8163e-01, -7.1827e-03,  6.6806e-02],
        [-2.7199e-02,  2.0773e-02,  1.9407e-01, -1.0927e-01,  3.1117e-01,
         -2.0567e-01,  3.0422e-02, -2.9242e-01, -1.5036e-01],
        [-4.8036e-01,  1.4508e-01, -1.8761e-01, -6.4762e-02, -7.1297e-01,
          3.6259e-01,  3.6867e-01,  6.3384e-01, -2.1944e-01],
        [-7.0450e-01,  5.7903e-02, -1.1686e+00,  1.3748e+00,  2.3593e-01,
          4.8975e-01,  4.0577e-01, -1.4345e-02,  7.8763e-01],
        [ 4.3029e-01,  4.8187e-02,  3.1011e-01, -2.4456e-02,  2.5347e-01,
         -5.2513e-01,  4.6294e-01, -3.7036e-02, -3.0595e-01],
        [ 6.3356e-04,  1.3146e-02,  1.1030e-02, -2.7965e-01,  1.8745e-01,
         -1.5686e-01,  4.2800e-01, -1.0501e-01, -4.1412e-01],
        [-1.6672e-01,  3.6167e-01,  8.4392e-02, -4.4657e-01, -7.8685e-02,
          6.8602e-03,  3.1132e-01, -1.9710e-01, -2.5857e-01],
        [-5.7425e-02,  1.7626e-01,  2.7031e-01, -4.2647e-02,  3.3390e-01,
          2.3787e-01,  3.1716e-01, -1.7333e-01, -7.8148e-02],
        [-2.7570e-01,  1.3577e-01, -9.4586e-01, -2.8752e-02,  9.6491e-01,
         -6.7630e-01, -7.9253e-01, -1.0130e-01,  5.3533e-01],
        [ 6.6848e-03, -2.6335e-01,  2.9245e-01,  2.6269e-01,  3.4780e-01,
         -5.3349e-03,  1.3447e-01, -9.8413e-02,  1.8327e-01],
        [-4.8738e-02,  1.2429e-01, -4.5966e-01, -3.7146e-01, -2.9154e-01,
          1.7910e-01,  5.3924e-02,  1.6138e-02, -3.2973e-01],
        [ 3.2714e-02,  1.4831e-01,  9.3486e-03, -2.7357e-01,  2.3762e-01,
          7.9540e-02,  1.8630e-01, -2.3054e-01, -1.5730e-01],
        [-9.8147e-03,  3.3724e-01, -2.8454e-01, -2.9183e-01,  3.9439e-02,
         -2.0489e-01,  7.2788e-02, -4.8548e-01, -3.6556e-01],
        [-1.5377e-01,  1.0193e+00,  1.1738e-02, -3.0208e-01,  3.1219e-01,
         -1.5110e-01, -3.1459e-01,  5.9183e-01,  7.4895e-01],
        [-7.5578e-02,  3.4112e-01, -2.3091e-01, -6.5934e-02,  1.5731e-01,
         -2.1009e-01,  2.5043e-01, -4.6286e-01, -1.0935e-01],
        [ 5.2603e-01,  4.6803e-01,  7.7310e-01,  3.0200e-01, -6.1153e-01,
         -5.0550e-01,  2.2806e-01,  8.1436e-01,  1.0102e+00],
        [ 6.9701e-02, -5.0790e-02,  2.2539e-01, -2.3556e-01,  1.4759e-01,
          5.8218e-02,  1.7119e-01, -7.2081e-03, -1.3321e-01],
        [ 1.4509e-01,  1.6498e+00,  2.5746e-01, -8.4364e-01,  7.5069e-01,
          1.2356e+00, -7.2668e-01, -1.1108e+00, -5.4758e-01],
        [ 1.1077e-01,  7.1216e-02,  2.1328e-01, -1.1601e-01,  3.4533e-01,
         -1.1569e-01,  1.6297e-01,  4.7298e-02, -2.1325e-01],
        [-7.9758e-02,  7.6051e-03, -1.7777e-01, -2.9810e-01,  4.3368e-02,
          5.0572e-02,  3.6989e-01, -3.3862e-01, -3.0157e-01],
        [ 7.6206e-02,  1.6591e-01,  1.5370e-01, -2.8451e-01,  4.3613e-02,
         -1.0008e-01,  4.4183e-01, -2.9591e-01, -1.0223e-01],
        [-4.2753e-01,  5.6675e-01, -6.0123e-01,  8.8757e-01, -7.5803e-01,
         -5.8547e-01, -5.6795e-01, -7.0216e-01, -5.6216e-01],
        [ 2.0725e-01,  2.7701e-02, -1.3717e-01, -3.4943e-01, -6.3464e-02,
          1.6942e-01,  3.8692e-01, -1.6215e-01, -1.7215e-01],
        [-7.8657e-02, -5.7586e-02, -4.3941e-02,  7.7347e-01, -1.1627e-01,
         -8.4950e-02, -7.1901e-01,  3.4945e-01, -1.3177e+00],
        [ 5.2408e-02,  6.3023e-02,  1.2670e-01, -2.0917e-01,  2.2157e-01,
          1.8727e-01,  2.0275e-01, -2.6482e-01, -1.1184e-01],
        [ 5.9918e-01, -1.4170e+00, -1.6820e-01, -3.1758e-01, -1.1861e-01,
         -9.4385e-01,  1.0837e+00, -1.5722e+00, -2.3779e-01],
        [-5.2195e-02,  6.5129e-01,  1.0200e-01, -9.1286e-01, -6.6302e-01,
          7.7390e-01, -2.7599e-01, -2.7941e-01, -2.9914e-01],
        [ 1.6593e-01, -1.4724e-01,  1.1497e-01,  1.3586e-01,  5.4995e-02,
          3.0327e-01,  6.1326e-01, -5.0023e-01, -3.2771e-01],
        [ 1.1777e-01,  2.5494e-02,  2.0116e-01, -7.2230e-02,  3.3780e-01,
         -5.2602e-03,  2.5058e-01, -3.3632e-01,  1.1634e-02],
        [ 1.6891e-02, -6.3533e-03, -1.0162e-01, -3.4265e-01,  1.5746e-01,
         -1.2250e-01,  6.2898e-01, -1.3749e-01, -2.6049e-01],
        [-8.1951e-02, -1.3905e+00,  9.7447e-01, -1.7354e-01,  3.1638e-01,
         -2.4476e-01, -9.6061e-02, -1.8905e-01, -7.0151e-01],
        [-1.7399e-01, -5.9979e-01,  1.9872e-01, -1.4787e-01,  1.3624e+00,
          7.7784e-02, -1.0905e+00,  6.5393e-01,  1.2535e+00],
        [ 6.0128e-02, -1.2142e-01, -2.4728e-02, -3.4132e-01,  2.9910e-02,
          3.5000e-02,  2.8276e-01, -2.8137e-01, -1.5116e-01],
        [ 8.3378e-02,  8.6307e-02, -2.0508e-01, -4.0093e-01,  1.9765e-01,
          1.5352e-02,  9.5340e-03, -2.1218e-01, -1.7088e-01],
        [-1.8299e+00,  1.4365e+00, -2.3726e-01,  2.1350e+00, -1.6627e+00,
          2.5900e-01, -1.1216e+00, -9.4994e-01,  9.2224e-01],
        [ 4.4272e-01, -2.9499e-01, -1.0871e-02, -6.1735e-01, -6.1815e-01,
         -9.7098e-01,  1.5644e-01,  3.0814e-01,  1.7477e-01],
        [-7.1196e-01,  3.4386e-01, -9.1376e-01,  6.0464e-01,  9.2417e-01,
          4.7291e-01, -5.6637e-02, -1.3864e+00,  8.4671e-01],
        [ 1.8677e-01, -2.5506e-02,  1.4002e-01, -5.5236e-01,  4.1671e-01,
         -4.0268e-01,  2.4017e-01, -2.2609e-01, -2.0382e-01],
        [-1.2954e-02,  2.3414e-02,  3.4670e-01,  9.2394e-01,  4.6111e-01,
         -3.3675e-01, -1.4967e-01, -1.5144e-01,  1.6487e-01],
        [-6.2402e-02,  7.4328e-02,  9.1528e-01, -1.2317e+00, -5.8206e-01,
          5.4417e-01,  7.6263e-01, -7.6356e-01,  7.6405e-01],
        [-2.5263e-01, -1.4750e-01,  4.1098e-01,  2.0398e-01,  2.9920e-01,
          7.5507e-03, -2.1585e-01, -6.6815e-02, -3.6431e-01],
        [ 2.8399e-02,  1.7102e-01,  3.1381e-03, -2.3376e-01,  2.5523e-01,
          4.7712e-02,  3.3609e-01, -2.5432e-01, -1.3019e-01]],
       grad_fn=<AddmmBackward>)

In [43]:
from torch import optim
optimizer = optim.SGD(model.parameters(),lr = 0.0005)

In [33]:
print(label.shape)

torch.Size([100])

In [38]:
correct = 0
with torch.no_grad():
    input = test_data
    output = model(input[:,0:75].float())
    _, predicted = torch.max(output,dim = 1)
    equals = predicted==test_data[:,75]
    #print(equals.shape)
    correct += torch.sum(torch.tensor(equals)).item()
    #loss = criterion(output,test_data[:,74])
    #test_running_loss += loss
    #test_loss.append(test_running_loss)
    #print(f"test_loss: {test_running_loss}")
    print(f"Accuracy: {correct/40000}")

Accuracy: 0.34405

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: UserWarning: To copy construct from a tensor, it is recommended to use sourceTensor.clone().detach() or sourceTensor.clone().detach().requires_grad_(True), rather than torch.tensor(sourceTensor).

In [44]:

epochs = 50
criterion = torch.nn.CrossEntropyLoss()
for e in range(epochs):
  running_loss = 0
  for features, labels in iter(trainloader):
    optimizer.zero_grad()
    output = model(features.float())
    #predicted = torch.argmax(output,dim = 1,keepdim = False)
    labels = labels.type(torch.LongTensor)
    loss = criterion(output,labels)
    running_loss+= loss
    loss.backward()
    optimizer.step()
  #training_loss.append(running_loss)
  print(f"Loss = {running_loss}")
  correct = 0
  test_running_loss = 0
  with torch.no_grad():
    input = test_data
    output = model(input[:,0:75].float())
    _, predicted = torch.max(output,dim = 1)
    equals = predicted==test_data[:,75]
    #print(equals.shape)
    correct += torch.sum(torch.tensor(equals)).item()
    #loss = criterion(output,test_data[:,74])
    #test_running_loss += loss
    #test_loss.append(test_running_loss)
    #print(f"test_loss: {test_running_loss}")
    print(f"Accuracy: {correct/40000}")

Loss = 2920.379638671875
Accuracy: 0.344475

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:25: UserWarning: To copy construct from a tensor, it is recommended to use sourceTensor.clone().detach() or sourceTensor.clone().detach().requires_grad_(True), rather than torch.tensor(sourceTensor).

Loss = 2920.37451171875
Accuracy: 0.344525
Loss = 2920.377197265625
Accuracy: 0.34435
Loss = 2920.36669921875
Accuracy: 0.3441
Loss = 2920.36767578125
Accuracy: 0.34425
Loss = 2920.374755859375
Accuracy: 0.344225
Loss = 2920.368896484375
Accuracy: 0.34425
Loss = 2920.364013671875
Accuracy: 0.3443
Loss = 2920.368408203125
Accuracy: 0.3443
Loss = 2920.368408203125
Accuracy: 0.3442
Loss = 2920.367431640625
Accuracy: 0.34415
Loss = 2920.36572265625
Accuracy: 0.3439
Loss = 2920.370849609375
Accuracy: 0.344125
Loss = 2920.36572265625
Accuracy: 0.344225
Loss = 2920.365234375
Accuracy: 0.34405
Loss = 2920.367919921875
Accuracy: 0.34425
Loss = 2920.36767578125
Accuracy: 0.3443
Loss = 2920.36669921875
Accuracy: 0.343875
Loss = 2920.36669921875
Accuracy: 0.344175
Loss = 2920.36572265625
Accuracy: 0.34405
Loss = 2920.36962890625
Accuracy: 0.34405
Loss = 2920.375244140625
Accuracy: 0.344075
Loss = 2920.36962890625
Accuracy: 0.344075
Loss = 2920.3701171875
Accuracy: 0.3442
Loss = 2920.36474609375
Accuracy: 0.34415
Loss = 2920.3681640625
Accuracy: 0.344125
Loss = 2920.36767578125
Accuracy: 0.34405
Loss = 2920.36767578125
Accuracy: 0.344125
Loss = 2920.36962890625
Accuracy: 0.344175
Loss = 2920.369140625
Accuracy: 0.344125
Loss = 2920.3681640625
Accuracy: 0.3442
Loss = 2920.37060546875
Accuracy: 0.344175
Loss = 2920.368408203125
Accuracy: 0.344175
Loss = 2920.368408203125
Accuracy: 0.344175
Loss = 2920.365234375
Accuracy: 0.344175
Loss = 2920.369873046875
Accuracy: 0.344275
Loss = 2920.37060546875
Accuracy: 0.34415
Loss = 2920.365234375
Accuracy: 0.3442
Loss = 2920.369873046875
Accuracy: 0.3442
Loss = 2920.365234375
Accuracy: 0.34395
Loss = 2920.368896484375
Accuracy: 0.3441
Loss = 2920.37255859375
Accuracy: 0.344275
Loss = 2920.36767578125
Accuracy: 0.344275
Loss = 2920.369140625
Accuracy: 0.3443
Loss = 2920.367431640625
Accuracy: 0.3444
Loss = 2920.369384765625
Accuracy: 0.34425
Loss = 2920.36767578125
Accuracy: 0.34425
Loss = 2920.366943359375
Accuracy: 0.3443
Loss = 2920.369140625
Accuracy: 0.34425
Loss = 2920.36767578125
Accuracy: 0.3442

In [86]:
testdata = pd.read_csv("/content/sample_data/test.csv")
testdata.dropna()
test_eval = testdata.iloc[:,1:76]
test_eval = test_eval.to_numpy()

In [87]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
# fit scaler on data
#scaler.fit(train[:,1:76])
# apply transform
test_eval = scaler.fit_transform(test_eval)

In [88]:
test_eval = torch.tensor(test_eval.astype(float))
output = model(test_eval.float())

In [89]:
output

tensor([[-0.5110,  1.2533,  0.4688,  ..., -0.3553,  0.8359,  0.5862],
        [-0.5065,  0.6345,  0.1308,  ..., -0.1674,  1.0620,  0.5973],
        [-0.5092,  0.3775, -0.0654,  ..., -0.1840,  1.0845,  0.5534],
        ...,
        [-0.4866,  1.1806,  0.4375,  ..., -0.3329,  0.8903,  0.5977],
        [-0.3295, -0.4573, -0.4946,  ...,  0.1999,  1.5336,  0.5950],
        [-0.5094,  0.7038,  0.2397,  ..., -0.1745,  1.0112,  0.5756]],
       grad_fn=<AddmmBackward>)

In [91]:
output
output = output.detach().numpy()

In [92]:
output  = np.exp(output)
output

array([[0.59986794, 3.501773  , 1.5981529 , ..., 0.7009818 , 2.30689   ,
        1.7970668 ],
       [0.60262716, 1.8859897 , 1.1397924 , ..., 0.8458949 , 2.8920548 ,
        1.8172616 ],
       [0.6010025 , 1.4586723 , 0.9366597 , ..., 0.8319087 , 2.9579628 ,
        1.7390742 ],
       ...,
       [0.61471194, 3.2564764 , 1.5488174 , ..., 0.71681774, 2.4358127 ,
        1.8178483 ],
       [0.71927583, 0.63301396, 0.6098117 , ..., 1.2213174 , 4.6347704 ,
        1.8130188 ],
       [0.60086966, 2.0213594 , 1.2708777 , ..., 0.8398767 , 2.7488065 ,
        1.7782849 ]], dtype=float32)

In [103]:
x = np.sum(output, axis = 1, keepdims = True)
print(output.shape)
x.shape

(100000, 9)

(100000, 1)

In [105]:
output1 = output/x
print(np.sum(output1, axis = 1))

[0.9999999  0.99999994 1.         ... 1.         0.99999994 1.        ]

In [106]:
print(output.astype(float))

[[0.59986794 3.50177312 1.59815288 ... 0.7009818  2.30689001 1.79706681]
 [0.60262716 1.88598967 1.13979244 ... 0.84589487 2.8920548  1.81726158]
 [0.60100251 1.45867229 0.93665969 ... 0.8319087  2.95796275 1.73907423]
 ...
 [0.61471194 3.2564764  1.5488174  ... 0.71681774 2.43581271 1.81784832]
 [0.71927583 0.63301396 0.60981172 ... 1.22131741 4.63477039 1.8130188 ]
 [0.60086966 2.02135944 1.27087772 ... 0.83987671 2.74880648 1.77828491]]

In [51]:
testdf = testdata.loc['id']
dftest = pd.DataFrame(output, columns=["Class_1","Class_2","Class_3","Class_4","Class_5","Class_6","Class_7","Class_8","Class_9"])
testdf.append(dftest)

KeyError: ignored

In [81]:
testdata.shape

(100000, 76)

In [107]:
testdf = pd.DataFrame()
testdf['id'] = testdata['id']

In [113]:
dftest = pd.DataFrame(output1, columns=["Class_1","Class_2","Class_3","Class_4","Class_5","Class_6","Class_7","Class_8","Class_9"])
#testdf = pd.concat([testdf,dftest])

In [109]:
testdf.head()

       id
0  200000
1  200001
2  200002
3  200003
4  200004

In [114]:
dftest.head()

    Class_1   Class_2   Class_3  ...   Class_7   Class_8   Class_9
0  0.042412  0.247584  0.112993  ...  0.049561  0.163103  0.127057
1  0.046513  0.145569  0.087974  ...  0.065290  0.223221  0.140264
2  0.043469  0.105503  0.067747  ...  0.060171  0.213944  0.125784
3  0.044960  0.092879  0.072356  ...  0.075718  0.272094  0.142423
4  0.037445  0.085563  0.063174  ...  0.070774  0.274880  0.136287

[5 rows x 9 columns]

In [115]:
testdf.head()

       id
0  200000
1  200001
2  200002
3  200003
4  200004

In [66]:
del(testdf)

In [116]:
testdf1 = pd.concat([testdf,dftest],axis = 1)

In [117]:
testdf1.head()

       id   Class_1   Class_2   Class_3  ...   Class_6   Class_7   Class_8   Class_9
0  200000  0.042412  0.247584  0.112993  ...  0.223116  0.049561  0.163103  0.127057
1  200001  0.046513  0.145569  0.087974  ...  0.253848  0.065290  0.223221  0.140264
2  200002  0.043469  0.105503  0.067747  ...  0.346530  0.060171  0.213944  0.125784
3  200003  0.044960  0.092879  0.072356  ...  0.255064  0.075718  0.272094  0.142423
4  200004  0.037445  0.085563  0.063174  ...  0.297297  0.070774  0.274880  0.136287

[5 rows x 10 columns]

In [118]:
testdf1.to_csv('/content/sample_data/output1.csv',index = False)